<div class="container-fluid">
    <div class="jumbotron">
        <h5 style="font-size:50px; color:silver; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif"></h5>
        <h1>SMN HelpDesk!</h1>
        <p>Site para realização de chamados das empresas clientes da SMN</p>
    </div>
</div>

